body {
    font-family: Arial, sans-serif;
    background: #141414;
    color: white;
    text-align: center;
}

.login-box {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: red;
    border-radius: 10px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: black;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
}
